---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Techno from '../components/techno.astro';

const name = "Rafaelé"
---

<Layout title="Rafaele Sinaguglia" seoTitle="Rafaele Sinaguglia, Web Developer Full Stack Portfolio" seoDesc="Developpeur Full Stack à Maubeuge">
	<main class="mt-[78px]  h-100" id="landing">
		<div class="w-100 flex flex-col ">
				<h1 class="text-[28px] tablet:text-[42px]  font-spartan text-clear-blue">Yo 🦈, I'm Rafaelé</h1>
				<h2 class="text-[18px] tablet:text-[22px] font-varela">Je suis un jeune développeur Full Stack passionné, fort de plusieurs années d'autoformation. Actuellement en formation pour valider officiellement mes compétences de développeur, également webdesigner</h2>
		</div>


       <div class="flex justify-end mt-[50px] relative ">
			<div class="relative m-5 z-10 w-[150px] tablet:w-[220px] border-4 border-clear-blue bg-gradient-to-r from-clear-blue to-regular-blue rounded-full ">
				<img  class=" w-[150px] tablet:w-[220px] tablet:h-[220px] rounded-full object-cover z-20" src="../../public/img/photo.webp" alt="">
				<div class="absolute right-20 tablet:right-36 tablet:top-36 top-20 z-0 ">	
					<div class="z-0 w-[125px] h-[125px] tablet:h-[145px] tablet:w-[145px]  bg-gradient-to-r from-[#6CCFF6] to-[#3D5A80] rounded-full"></div>
				</div>
			</div>
		</div>

	  <a class="border-clear-blue bg-gradient-to-r from-clear-blue to-regular-blue p-3 rounded-[60px] " href="../../public/CV.pdf" download>
	<button class="mt-[50px] tablet:h-[50px] tablet:text-[18px] tablet:w-[124px] ">Download CV</button>
	</a>
	</main>
	<section class="mt-[78px]"id="technologies">
		<h1 class="text-[28px] font-League font-spartan ">Technologies</h1>
		<div class="mt-[78px] grid grid-cols-2 tablet:grid-cols-3 gap-[106px] justify-items-center items-center ">
			<Techno icon="../../public/img/css.png" iconDesc="css logo" title="CSS" rank="Avancé"/>
			<Techno icon="../../public/img/html.png" iconDesc="html logo" title="HTML" rank="Avancé"/>
			<Techno icon="../../public/img/javascript.png" iconDesc="javascript logo" title="Javascript" rank="Avancé"/>
			<Techno icon="../../public/img/node.png" iconDesc="node js logo" title="Node JS" rank="Intermediaire"/>
			<Techno icon="../../public/img/react.webp" iconDesc="react js logo" title="React JS" rank="Intermediaire"/>
			<Techno icon="../../public/img/php.png" iconDesc="php logo"  title="PHP" rank="Débutant"/>
			<Techno icon="../../public/img/mysql.png" iconDesc="mysql logo" title="MySQL" rank="Intermediaire"/>
			<Techno icon="../../public/img/docker.png" iconDesc="docker logo" title="Docker" rank="Intermediaire"/>
			<Techno icon="../../public/img/figma.png" iconDesc="figma logo" title="Figma" rank="Intermediaire"/>
			<Techno icon="../../public/img/wordpress.png" iconDesc="wordpress logo" title="Wordpress" rank="Intermediaire"/>
		</div>
		<h1 class="mt-[78px] text-[28px]  tablet:text-[60px] font-League font-spartan ">Soft Skills</h1>
		<div class="mt-[78px] mx-[8px]  tablet:grid tablet:grid-cols-2">
		
				<li class="mb-[70px] text-[18px] tablet:text-[22px]">Apprend vite</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px]">Travail d'équipe</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px]">Engagement</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px] justify-end">Minutieux</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px]">Polyvalent</li>
			
		</div>
	</section>

	<section class="mt-[78px]" id="projets">
		<h1 class="text-[28px]   tablet:text-[60px] font-League font-spartan mb-[78px]  ">Projets</h1>
	<div class="grid grid-cols-1  justify-items-center items-center">
			<Card image="../../public/img/pic.avif" title="portfolio" desc="mon portfolio en ligne" url="/" github="/" />
			<Card image="../../public/img/pic.avif" title="portfolio" desc="mon portfolio en ligne" url="/" github="/" />
			<Card image="../../public/img/pic.avif" title="portfolio" desc="mon portfolio en ligne" url="/" github="/" />
			<Card image="../../public/img/pic.avif" title="portfolio" desc="mon portfolio en ligne" url="/" github="/" />
		</div>
	</section>

	
	<section class="mt-[78px]" id="apropos">
		<h1 class="text-[28px] tablet:text-[60px]  font-League font-spartan mb-[8px]">A Propos</h1>
		<div class="flex flex-col justify-center items-center">
		
        <p class="text-[18px] tablet:text-[30px] tablet:leading-10 leading-7 mb-[78px]" >Autodidacte initialement, j'ai ensuite suivi un cursus en informatique au lycée où je me suis spécialisé dans le développement web. J'ai effectué mes stages en agence de webdesign et de création de sites web utilisant des CMS, ce qui m'a rendu plus polyvalent. Pour des sites vitrines rapides et performants, j'utilise Astro.js, t
			andis que pour des applications plus complexes, je me 
			tourne vers React. Je construis également mes propres API en 
			utilisant Node.js,Principalement développeur JavaScript, 
			j'utilise Docker pour interagir efficacement avec l'écosystème PHP
			"En tant que passionné, mon objectif est d'obtenir un titre professionnel pour valider officiellement mes compétences et ainsi pouvoir vivre de ma passion."
		</p>
		<div class="flex flex-col gap-5 mb-[78px]">
			<div class="flex items-center justify-center">
				<img src="../../public/img/facebook.png" alt="" class="w-[39px] h-[39px] tablet:w-[55px] tablet:h-[55px]"/>
				<p class="tablet:text-[29px] ml-3 "> Rafaelé Silvano Sinaguglia</p>
			</div>
			<li class="tablet:text-[29px]">rafaele.sinaguglian@gmail.com</li>
			<li class="tablet:text-[29px]">0627404364</li>
		</div>
	</div>
 </section>
</Layout>


