---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Techno from '../components/techno.astro';

const name = "Rafaelé"
---

<Layout title="Rafaele Sinaguglia" seoTitle="Rafaele Sinaguglia, Web Developer Full Stack Portfolio" seoDesc="Developpeur Full Stack à Maubeuge">
	<main class="mt-[78px]  h-100 desktop:mt-[210px] desktop:mb-[240px]" id="landing">
		<div class="w-100 flex flex-col ">
				<h1 class="text-[28px] tablet:text-[42px] desktop:text-[64px] font-spartan text-clear-blue" >Yo 🦈, I'm Rafaelé</h1>
				<h2 class="text-[18px] tablet:text-[22px] tablet:w-[700px] desktop:text-[32px] desktop:w-[980px] font-varela " id="element">D</h2>
		</div>


       <div class="flex justify-end mt-[50px] desktop:mt-[0px] relative ">
			<div class="relative m-5 z-10 w-[150px] tablet:w-[220px] desktop:w-[410px] border-4 border-clear-blue bg-gradient-to-r from-clear-blue to-regular-blue rounded-full ">
				<img  class=" w-[150px] tablet:w-[220px] tablet:h-[220px] desktop:h-[410px] desktop:w-[410px] rounded-full object-cover z-20" src="/img/photo.webp" alt="">
				<div class="absolute right-20 tablet:right-36 tablet:top-36 desktop:right-[300px] desktop:top-70 top-20 z-0 ">	
					<div class="z-0 w-[125px] h-[125px] tablet:h-[145px] tablet:w-[145px]  desktop:w-[365px] desktop:h-[365px] bg-gradient-to-r from-[#6CCFF6] to-[#3D5A80] rounded-full"></div>
				</div>
			</div>
		</div>

	  
<a class="text-[16xl] flex justify-center items-center desktop:text-[26px]  border-clear-blue bg-gradient-to-r from-clear-blue to-regular-blue p-3 rounded-[60px] mt-[50px]  w-[160px]  desktop:mt-0 tablet:h-[50px]  desktop:p-[40px] desktop:w-[225px]  text-center "  href="../../public/CV.pdf" download>Download CV</a>
	</a>
	</main>
	<section class="mt-[78px] desktop:mt-[210px] "id="technologies">
		<h1 class="text-[28px]  tablet:text-[60px] font-League font-spartan desktop:text-[64px]  ">Technologies</h1>
		<div class="mt-[78px] desktop:mt-[210px] grid grid-cols-2 desktop:grid-cols-5 tablet:grid-cols-3 gap-[106px] justify-items-center items-center ">
			<Techno icon="../../public/img/css.png" iconDesc="css logo" title="CSS" rank="Avancé"/>
			<Techno icon="../../public/img/html.png" iconDesc="html logo" title="HTML" rank="Avancé"/>
			<Techno icon="../../public/img/javascript.png" iconDesc="javascript logo" title="Javascript" rank="Avancé"/>
			<Techno icon="../../public/img/node.png" iconDesc="node js logo" title="Node JS" rank="Intermediaire"/>
			<Techno icon="../../public/img/react.webp" iconDesc="react js logo" title="React JS" rank="Intermediaire"/>
			<Techno icon="../../public/img/php.png" iconDesc="php logo"  title="PHP" rank="Débutant"/>
			<Techno icon="../../public/img/mysql.png" iconDesc="mysql logo" title="MySQL" rank="Intermediaire"/>
			<Techno icon="../../public/img/docker.png" iconDesc="docker logo" title="Docker" rank="Intermediaire"/>
			<Techno icon="../../public/img/figma.png" iconDesc="figma logo" title="Figma" rank="Intermediaire"/>
			<Techno icon="../../public/img/wordpress.png" iconDesc="wordpress logo" title="Wordpress" rank="Intermediaire"/>
		</div>
		<h1 class="mt-[78px] text-[28px]  tablet:text-[60px] desktop:mt-[210px] font-League font-spartan ">Soft Skills</h1>
		<div class="mt-[78px] desktop:mt-[210px] mx-[8px]  tablet:grid tablet:grid-cols-2 desktop:flex desktop:justify-between">
		
				<li class="mb-[70px] text-[18px] tablet:text-[22px] desktop:text-[28px]" >Apprend vite</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px] desktop:text-[28px]">Travail d'équipe</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px] desktop:text-[28px]">Engagement</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px] desktop:text-[28px]">Minutieux</li>
				<li class="mb-[70px] text-[18px] tablet:text-[22px] desktop:text-[28px]">Polyvalent</li>
			
		</div>
	</section>

	<section class="mt-[78px] desktop:mt-[210px]" id="projets">
		<h1 class="text-[28px]   tablet:text-[60px] desktop:text-[64px] desktop:mb-[210px]   font-League font-spartan mb-[78px]  ">Projets</h1>
	<div class="grid grid-cols-1 desktop:grid-cols-2  justify-items-center items-center">
			<Card image="../../public/img/pic.avif" title="Plateforme client" desc="Site sur mesure" url="/" github="/" />
			<Card image="../../public/img/pic.avif" title="Mon blog" desc="blog personel " url="/" github="/" />
			<Card image="../../public/img/pic.avif" title="E-learning App" desc="projet titre pro" url="/" github="/" />
			<Card image="../../public/img/pic.avif" title="Plateforme admin" desc="Gestion de client" url="/" github="/" />
		</div>
	</section>

	
	<section class="mt-[78px] desktop:mt-[210px] " id="apropos">
		<h1 class="text-[28px] tablet:text-[60px]  font-League font-spartan mb-[8px]">A Propos</h1>
		<div class="flex flex-col justify-center items-center">
		
        <p class="text-[18px] tablet:text-[30px] tablet:leading-10 leading-7 mb-[78px] desktop:mb-[210px] desktop:leading-[50px] " >Je suis un jeune développeur Full Stack passionné par le développement web, ayant enrichi mes compétences à travers plusieurs années d'autoformation. Actuellement en cours de certification, je renforce mes compétences en développement et en webdesign pour devenir un professionnel, prêt à entamer ma carrière en freelance.<br>
			 J'ai effectué mes stages en agence de webdesign et de création de sites web utilisant des CMS, ce qui m'a rendu plus polyvalent. <br>
			Pour des sites vitrines rapides et performants, j'utilise <span class="text-pastel-red">Astro.js</span>, tandis que pour des applications plus complexes, je me 
			tourne vers <span class="text-pastel-red">React js</span>. Je construis également mes propres API en  utilisant <span class="text-pastel-red">Node js</span>,Principalement développeur JavaScript, 
			j'utilise <span class="text-pastel-red">Docker</span> pour interagir avec l'écosystème <span class="text-pastel-red">PHP</span><br>
			En tant que passionné, mon objectif est d'obtenir un titre professionnel pour valider officiellement mes compétences et ainsi pouvoir vivre de ma passion."
		</p>
		<div class="flex flex-col gap-5 mb-[78px] desktop:mb-[210px]  desktop:flex-row desktop:justify-between desktop:w-full">
			<div class="flex items-center justify-center">
				<img src="../../public/img/facebook.png" alt="" class="w-[39px] h-[39px] tablet:w-[55px] tablet:h-[55px]"/>
				<p class="tablet:text-[29px] ml-3 "> Rafaelé Silvano Sinaguglia</p>
			</div>
			<li class="tablet:text-[29px]">rafaele.sinaguglian@gmail.com</li>
			<li class="tablet:text-[29px]">0627404364</li>
		</div>
	</div>
 </section>
</Layout>


