---
import {Astronav, MenuItems, MenuIcon} from "astro-navbar"
---

<header  class="tablet:flex p-5 gap-5" >
    <Astronav>

        <div class="flex justify-between w-full tablet:hidden desktop:block">
            <a href="" class="desktop:text-[28px]">RS</a>
            <div class="block tablet:hidden"><MenuIcon class="w-4 h-4" /></div>
         
        </div>
       <MenuItems class=" hidden tablet:flex tablet:w-full tablet:justify-around">
        <ul class="flex flex-col tablet:flex-row desktop:text-[28px] tablet:gap-[145px]">
            <li><a href="#technologies" >Technologies</a></li>
            <li><a href="#projets" >Projets</a></li>
            <li><a href="#apropos" >About</a></li>
        </ul>
       </MenuItems> 
    </Astronav>
</header>
 